#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
}

.main-content {
  display: flex;
  flex: 1;
  place-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid gray;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.input-row label {
  text-align: left;
}

.input-row input {
  padding: 4px  ;
}

.styled-input {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
}
